body {
    background-image: url(../img/main/background2.png);
    color: whitesmoke;
}

.sidenav {
    height: 100%;
    width: 7%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1b1b1bbe;
    overflow-x: hidden;
    padding-top: 0px;
    padding-left: 0px;
    border-right: 1px solid whitesmoke;
    min-width: 8%;
}

.container {
    background-color: rgba(24, 24, 24, 0.918);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 1%;
    position: relative;
}

.div-principal1 {
    border: 1px solid white;
    padding: 0.5%;
    margin: 5%;
}

.div-principal2 {
    border: 1px solid white;
    padding: 0.5%;
    margin-top: 1%;
    text-align: center;

}

.foto-principal {
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.table-centrar {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 50px;
    width: 100%;

    margin-inline-start: auto;
    margin-inline-end: auto;
    text-indent: initial;
}

.td-bordes {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;

}

.contenidos {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

nav a {
    color: cornflowerblue;
    transition: color 0.2s;

}

nav a:hover {
    color: lightskyblue;
}


.div-categoria1 {
    border: 1px solid whitesmoke;
    border-left-width: 5px;
    border-radius: 5px;
    padding: 5px;
    width: 75%;
    text-align: center;
    margin-left: 1%;
}

.div-categoria2 {
    text-align: left;
    margin: 0px;
    border: 0PX;
}

.div-categoria2::after {
    content: "";
    clear: both;
    display: table;
}

.div-categoria3 {
    width: 25%;
    text-align: left;
}

.foto-categoria {
    float: left;
    padding: 0%;
    padding-top: 0%;
    margin-left: 0%;
    width: 10%;
}

.texto-categoria {
    font-size: 20px;
    line-height: 200%;
}


.table-categoria {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 50px;
}

.column {
    float: left;
    width: 20%;
    padding: 5px;
    border: 1px solid white;
    margin: 10px;
    text-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.div-descripcion {
    text-align: left;
    margin: 0px;
    border: 0PX;
}

.div-descripcion::after {
    content: "";
    clear: both;
    display: table;
}


.texto-descripcion {
    font-size: 20px;
    line-height: 200%;
}

.foto-descripcion {
    float: right;
    padding: 0%;
    padding-top: 0%;
    margin-left: 0%;
    width: 20%;
}

.text-inline {
    width: auto;
    height: 25px;
    vertical-align: middle;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

ul {
    padding: 20px;
    list-style-type: circle;
}

.sidenav a {
    text-decoration: none;
}

#gir {
    transition: color 0.2s;
}

#gir:hover {
    color: yellow;
}

#lan {
    transition: color 0.2s;
}

#lan:hover {
    color: greenyellow;
}

#zom {
    transition: color 0.2s;
}

#zom:hover {
    color: indigo;
}

#zom2 {
    transition: color 0.2s;
}

#zom2:hover {
    color: orangered;
}

.anuncio {
    position: absolute;
    right: 40px;
    top: 20px;
    font-size: 10px;
}

.foto-categoria2 {
    width: 50%;
    transition: width 0.5s;
}

.foto-categoria2:hover {
    width: 55%;
}

.container2 {
    display: flex;
    background-color: rgba(24, 24, 24, 0.918);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.div-mapas {
    width: 100%;
}

.mapas-cont {}


.texto-descripcion::first-letter {
    font-size: 1.5rem;
}


div:empty {
    height: 0.5rem;
    background-color: rgba(0, 0, 0, 0.678);
}

.info1 {
    width: 60%;
}

.div-mapas h1 {
    margin: 0;

}

a[target] {
    color: green;
}

ol li:nth-child(odd),
ol li:nth-child(odd) {
    color: greenyellow;
}

ol li:nth-child(even),
ol li:nth-child(even).noche {
    color: purple;
}

ol li:first-child {
    color: green;

}

ol li:last-child {
    color: orangered;
}


#contenido td:nth-of-type(odd) {
    text-decoration: white;
    font-stretch: condensed;
}

a[href="#"] {
    color: red
}

.dia {
    color: green;
}

.noche {
    color: purple;
}